In [6]:
#  Bagged decision trees for classification
import pandas as pd
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
names=['preg','plas','pres','skin','test','mass','pedi','age','class']
dataframe=pd.read_csv('pima1.csv',names=names)
array=dataframe.values
x=array[:,0:8]
y=array[:,8]
num_trees=100
seed=7
kfold=KFold(n_splits=10,random_state=seed)
cart=DecisionTreeClassifier()
model=BaggingClassifier(base_estimator=cart,n_estimators=num_trees,random_state=seed)
results=cross_val_score(model,x,y,cv=kfold)
print(results.mean())

D:\Programdata\lib\site-packages\sklearn\model_selection\_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

0.770745044429255

In [5]:
from sklearn.datasets import load_boston
import pandas as pd

In [37]:
from sklearn.datasets import load_boston
import pandas as pd
boston = load_boston()
aa=pd.DataFrame(boston.data,columns=boston.feature_names)
aa

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [36]:
df = pd.DataFrame(aa)

print('DataFrame:\n', df)

# default CSV
csv_data = df.to_csv()
print('\nCSV String:\n', csv_data)

DataFrame:
                                                    0
0     Unnamed: 0        0     1     2    3      4...
1     Unnamed: 0     0
0           0  24.0
1     ...

CSV String:
 ,0
0,"   Unnamed: 0        0     1     2    3      4      5     6       7    8  \
0           0  0.00632  18.0  2.31  0.0  0.538  6.575  65.2  4.0900  1.0
1           1  0.02731   0.0  7.07  0.0  0.469  6.421  78.9  4.9671  2.0
2           2  0.02729   0.0  7.07  0.0  0.469  7.185  61.1  4.9671  2.0
3           3  0.03237   0.0  2.18  0.0  0.458  6.998  45.8  6.0622  3.0
4           4  0.06905   0.0  2.18  0.0  0.458  7.147  54.2  6.0622  3.0

       9    10      11    12
0  296.0  15.3  396.90  4.98
1  242.0  17.8  396.90  9.14
2  242.0  17.8  392.83  4.03
3  222.0  18.7  394.63  2.94
4  222.0  18.7  396.90  5.33  "
1,"   Unnamed: 0     0
0           0  24.0
1           1  21.6
2           2  34.7
3           3  33.4
4           4  36.2"

In [26]:
aa=pd.read_html('https://h1ros.github.io/posts/loading-scikit-learns-boston-housing-dataset/')
aa[0]

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [29]:
from sklearn import datasets

NameError: name '__datasets__' is not defined

In [32]:
#load csv from url using numpy
from numpy import loadtxt
from urllib.request import urlopen
url='https://goo.gl/bDdBiA'
raw_data=urlopen(url)
dataset=loadtxt(raw_data,delimiter=",")
print(dataset.shape)
dataset

(768, 9)

array([[  6.   , 148.   ,  72.   , ...,   0.627,  50.   ,   1.   ],
       [  1.   ,  85.   ,  66.   , ...,   0.351,  31.   ,   0.   ],
       [  8.   , 183.   ,  64.   , ...,   0.672,  32.   ,   1.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,   0.245,  30.   ,   0.   ],
       [  1.   , 126.   ,  60.   , ...,   0.349,  47.   ,   1.   ],
       [  1.   ,  93.   ,  70.   , ...,   0.315,  23.   ,   0.   ]])

In [34]:
#load csv from url using pandas
from pandas import read_csv
url='https://goo.gl/bDdBiA'
names=['preg','plas','pres','skin','test','mass','pedi','age','class']

dataset=read_csv(url,names=names)
print(dataset.shape)
dataset.columns

(768, 9)

Index(['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class'], dtype='object')